*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Pixelify Sans',sans-serif;
    background:#000;
    overflow-x:hidden;

    cursor: crosshair;
}

a,
button{
    cursor:url("ring.png") 16 16, pointer;
}

.paper-left,
.paper-right{
    position:fixed;
    top:0;
    width:22vw;
    height:100vh;

    background-image:url("paper_bg.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    z-index:-2;
}

.paper-left{
    left:0;
}

.paper-right{
    right:0;
}

.site{
    max-width:1200px;
    margin:auto;
    min-height:100vh;
}

.green-bg{
    min-height:100vh;
    padding:25px;

    background-image:url("bubbles_bg.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.top{
    display:flex;
    gap:30px;
    align-items:flex-start;

}

.paint-column{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.paint{
    width:520px;
    display:block;
}

.profile{
    width:430px;
    background:#06009c;
    color:white;
    padding:25px;
}

.profile h1{
    font-size:64px;
}

.subtitle{
    font-size:28px;
    margin-bottom:20px;
}

.subtitle span{
    float:right;
}

.description{
    background:#d8d8d8;
    color:black;
    padding:15px;
    margin-bottom:20px;
    font-size:14px;
    line-height:1.4;
}

.profile ul{
    list-style:none;
    line-height:1.8;
    font-size:28px;
}

.small-links{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.small-links a{
    width:180px;
    height:110px;
    background:#d8ff00;
    color:black;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:10px;
    font-size:24px;
}

.bottom{
    margin-top:20px;
    display:flex;
    gap:50px;
    align-items:flex-start;
}

.socials{
    display:grid;
    grid-template-columns:repeat(2,120px);
    gap:15px;
}

.social{
    width:120px;
    height:120px;
    background:#06009c;
    border-radius:35px;
    color:white;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:72px;
    transition:.2s;
}

.social:hover{
    transform:scale(1.05);
}

.crafting{
    width:340px;
    background:#06009c;
    padding:20px;
}

@media(max-width:900px){

.top{
    flex-direction:column;
}

.paint{
    width:100%;
}

.profile{
    width:100%;
}

.bottom{
    flex-direction:column;
}

.socials{
    grid-template-columns:1fr 1fr;
    width:100%;
}

.social{
    width:100%;
}

.crafting{
    width:100%;
}

}
